.imagem-usuario{
	width: 75px;
}
.links{
	position: fixed;
	right:0;
}

body{
	background-color: rgba(0, 0, 0, 0.7);
	color: white;	
	font-size:1.5vw;
}

figure{
	width: 100%;
}
footer{
	padding: 10px;
}
main{
	margin-top: 94px;
	padding: 10px;
}
img{
	width: 100%;
}
.col-4 h3{	
  font-size:3vw;
}
.col-3 h1{

  font-size:3.5vw;
}
.cores{
	font-size:2vw;
}
.cores td{
    font-size:2vw;
}
#cl-a{
	background-color: #5A5537;
}
#cl-g{
	background-color: #FF2600;
}
#cl-m{
	background-color: #11314F;
}
#cl-b{
	background-color: #A59A67;
}
#cl-h{
	background-color: #B5B5B5;
}
#cl-n{
	background-color: #921101;
}
#cl-c{
	background-color: #607334;
}
#cl-i{
	background-color: #505050;
}
#cl-o{
	background-color: #FF7202;
} 	    		
#cl-d{
	background-color: #5B125A;
}
#cl-j{
	background-color: #0D0D0D;
}
#cl-p{
	background-color: #FFB5D0;
}
#cl-e{
	background-color: #4181FF;
}
#cl-k{
	background-color: #C3D7E9;
}
#cl-q{
	background-color: #FFFC00;
}
#cl-f{
	background-color: #FF497C;
}
#cl-l{
	background-color: #6461DD;
}
#cl-r{
	background-color: #008D00;
}

